html,body{
           background-color: skyblue;
        }


.ma.container h2, span
{
    font-size: 12px;
}
.divider
{
    width:50px;
    height: 2px;

    background: rgb(242, 95, 92);
    margin: 0 auto;
}
  h2,span
{   
    text-align: center;
    color: rgb(242, 95, 92);
    
}


/*SUPER*/
.about .feature {
    margin-bottom: 20px;
}
.col-md-3 {
    width: 25%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 100px;
    padding-left: 15px;
    padding-right: 15px;
}
.overlay {
    position: relative;
    display: block;
    overflow: hidden;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

/*MASTER*/
.col-xs-6 {
    width: 50%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 6px;
    padding-right: 15px;
    padding-left: 15px;
}
.accomd-modations-content .accomd-modations-room {
    margin-top: 30px;
}
.accomd-modations-room {
    position: relative;
}

body {
    font-family: 'Hind';
    font-size: 15px;
    color: #444;
    letter-spacing: 0.014em;
}
.accomd-modations-room .img {
    position: relative;
}
.accomd-modations-room .img img {
    width: 100%;
    padding: 10px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;

    border: 0;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.accomd-modations-room .text {
    position: absolute;
    background-color: #344a71;
    padding: 1px 15px;
    top: -10px;
    left: 1px;
}
.accomd-modations-room .text h2 {
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    font-family: Hind,sans-serif;
}


.accomd-modations-room .text .price {
    color: #FFF;
    margin-bottom: 0;
    font-family: 'Montserrat';
    margin-top: 5px;
}
p {
    line-height: 1.6em;
    letter-spacing: 0.02em;
    font-size: 15px;
    margin: 14px 0;
        margin-top: 14px;
        margin-bottom: 14px;
}
p {
    margin: 0 0 10px;
}
.accomd-modations-room .text .price .amount {
    font-size: 22px;
    margin-right: 3px;
}
.accomd-modations-room .text h2 a {
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.about .feature h4 {
    margin: 20px 0 15px 0;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
h4,  {
    font-size:36px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
